
.toggle-menu {
  width: 2em;
  height: auto;
}

//.main-nav{
//  height: 100%;
//  display: flex;
//  justify-content: flex-end;
//  align-items: center;
//}

.main-menu{
  position: static !important;
  margin-left: 5vw;
  @include edMenu(l);
  font-size: 19px;
  transform: translateY(10%);
  color: var(--color);
  //a{
  //  text-transform: uppercase;
  //}
  li{
    position: static!important;
  }
}
.submenu{
  position: absolute;
  width: 100vh;
  height: calc(var(--header-height) * 2);
  top: 0;
  left: 0;
  background: #fff;

}
