ul.top-bar
  li.top-bar__item
    a(href="https://www.instagram.com/tequilamandala/" target="_blank").top-bar__link Instagram
  li.top-bar__item
    a(href="https://facebook.com/Tequilamandala/" target="_blank").top-bar__link Facebook
  li.top-bar__item
    a(href="./contact.html").top-bar__link Contact
