extends ../config/template
append config
  -pageTitle = 'Contact'
  -pageDescription = 'Tequila Mandala'
  -pageImage = ''

block main

  section.section.retailer-new__container(style="padding: 0 10vw 75px")
    <div id="storepoint-container" data-map-id="1614231f12fddd"></div><script>(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="https://cdn.storepoint.co/api/v1/js/1614231f12fddd.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);}());</script>