extends ../config/template
append config
  -pageTitle = 'Story'
  -pageDescription = 'Tequila Mandala'
  -pageImage = ''

block main
  .right.fix
    p SIP OUR MONTHLY STORIES<br>BY STAYING CONNECTED
  section.section.section__top
    h1(data-aos="fade-left" data-aos-duration="1000") A TRADITION YOU CAN<br/> TASTE IN EVERY SIP
    
    
    //- A TRADITION THAT YOU CAN<br>CELEBRATE AND TASTE ON<br>EVERY SIP.
    img(src="img/image10.jpg", alt="alt" data-aos="fade-right").img-home2
    p.story__text(style="margin-top:3em" data-aos="fade-left") Tequila Mandala was founded on November 16, 2016 by Jose Joel Garcia Barreto, Arturo Lomeli Ibarra and Humberto Ibarra. The founders had the specific idea of bringing a unique, premium sipping tequila to the U.S. spirit market. Tequila Mandala’s hallmark, the Extra Añejo, comes in a hand-crafted, hand-painted ceramic bottle. The “MANDALA” is a powerful representational symbol that has had significance in most all regions of the world for thousands of years. It transcends borders, religions and cultures; it is essential to all humanity; its essence is both broad and powerful, derived from a circle to convey life’s infinite potential, with no beginning and no end. The mandala symbol portrays the universal balance of joy, peace, and life itself.
  section.section.section__bottom
    .sb-component
      .section__bottom--img
        img.story_img(src="img/image04.jpg", alt="alt" data-aos="fade-right")
      .section__bottom--text
        img(src="img/mandala_new.png").img-mandala.m1#img-mandala1
        p.story__text.text2(data-aos="fade-left") In Mexican culture, family is everything. Like the mandala, family is infinite. Tequila Mandala seeks to remind us to appreciate and enjoy the most important things in life and what life gives us. Our family and close friends make up the structure of the mandala. We experience this at all gatherings, whether it be a wedding, holiday, a special dinner, or even a simple break to unwind. What’s your mandala?
    //<img class="img-mandal" src="img/mandala_new.png" id="">
