-let pageTitle = 'Home'
-let siteName = 'Tequila Mandala'
-let twitterAccount = ''
-let pageDescription = ''
-let pageImage = ''
-
  let pages = [
    {
      title: 'Story',
      url: 'story.html',
      child: []
    },
    {
      title: 'Tequilas',
      url: 'products.html?prod=Tequila-Blanco',
      child: []
    },
    {
      title: 'Craftsmanship',
      url: 'craftsmanship.html',
      child: []
    },
    {
      title: 'Our Team',
      url: 'our-team.html',
      child: []
    },
    {
      title: 'Find a Retailer',
      url: 'retailer1.html',
      child: []
    },
  ]
